*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:
Arial, Helvetica, sans-serif;

}



html{

scroll-behavior:smooth;

}



body{

background:#071522;

color:white;

}




nav{

position:fixed;

top:0;

width:100%;

padding:20px;

display:flex;

justify-content:center;

gap:40px;

background:
rgba(7,21,34,.8);

backdrop-filter:blur(10px);

z-index:10;

}



nav a{

color:white;

text-decoration:none;

font-size:18px;

}




.hero{


height:100vh;


display:flex;

align-items:center;

justify-content:center;

text-align:center;


background:

linear-gradient(
rgba(0,0,0,.6),
rgba(0,0,0,.8)
),

url("images/dna.jpg");


background-size:cover;


}




h1{

font-size:70px;

margin-bottom:30px;

}



.hero p{

font-size:25px;

color:#ddd;

margin-bottom:40px;

}



.button{

background:#29cc73;

padding:20px 40px;

border-radius:15px;

color:white;

text-decoration:none;

font-size:24px;

}





.section{


min-height:100vh;

padding:120px 15%;


}



.section>h1{

text-align:center;

margin-bottom:60px;

}




.card{


background:#10283b;

padding:40px;

margin:40px 0;

border-radius:20px;


opacity:0;

transform:translateY(50px);


transition:1s;


}



.card.show{

opacity:1;

transform:none;

}




.pipeline{


font-size:30px;

text-align:center;

line-height:2;


}



.pipeline div{


background:#10283b;

padding:25px;

border-radius:20px;

margin:20px;


}



.image-card{


background:#10283b;

padding:30px;

border-radius:20px;

margin:50px auto;

text-align:center;

}



.image-card img{


max-width:80%;


}

#progress-container{

position:fixed;

top:0;

left:0;

width:100%;

height:6px;

background:#1a2733;

z-index:100;

}


#progress-bar{

height:100%;

width:0%;

background:#29cc73;

transition:.1s;

}

.reveal {

    opacity: 0;

    transform:
        translateY(80px)
        scale(0.9);

    transition:
        opacity 0.8s ease,
        transform 0.8s cubic-bezier(.17,.67,.35,1.2);

}


.reveal.show {

    opacity: 1;

    transform:
        translateY(0)
        scale(1);

}

.card:nth-child(2){
    transition-delay:.15s;
}


.card:nth-child(3){
    transition-delay:.3s;
}


.card:nth-child(4){
    transition-delay:.45s;
}

.chapter{

min-height:100vh;

padding:120px 15%;

display:flex;

flex-direction:column;

justify-content:center;

}



.stats{

display:flex;

gap:40px;

margin-top:80px;

}



.stat{

background:#10283b;

padding:40px;

border-radius:20px;

text-align:center;

flex:1;

}



.stat h2{

font-size:60px;

color:#29cc73;

}